.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  margin: 0px auto;
  padding: 50px;
  background-image: url(/img/branding-script.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: black 0.3em 0.3em 0.3em;
  color: floralwhite; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-image: url(/img/3d-script.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: black 0.3em 0.3em 0.3em;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  background-color: #d0d0d0 }

.navbar-dark {
  background-color: #424E5E; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #424E5E;
  text-shadow: black 0.3em 0.3em 0.3em; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal-header {
  color: floralwhite;
  background: #424E5E; }
  .modal-header button.close {
    color: floralwhite; }

.modal-body {
  background: #d0d0d0; }

.fa-telegram {
  color: rgb(0, 153, 255);
  background-color: #ddd; }

.fa-envelope {
  color: white; }

.fa-meetup {
  color: red;
  background-color: #ddd; }